<%- include('../partials/loggedInHeader.ejs'); -%>

<form action="/dashboard/add" method="POST" class="position-relative">
  <h2>Add a job</h2>
  <label for="jobTitle">Job Title</label>
  <input id="jobTitle" type="text" name="jobTitle" required /><br>
  <div class="jobTitle error"></div><br>
  <label for="companyName">Company Name</label>
  <input id="companyName" type="text" name="companyName" required /><br>
  <div class="companyName error"></div><br>
  <label for="website">Website</label>
  <input id="website" type="url" name="website"/>
  <div class="website error"></div><br>
  <label for="contactName">Contact Name</label>
  <input id="contactName" type="text" name="contactName"/>
  <div class="contactName error"></div><br>
  <label for="contactEmail">Contact Email</label>
  <input id="contactEmail" type="email" name="contactEmail"/>
  <div class="contactEmail error"></div><br>
  <label for="contactPhone">Contact Phone</label>
  <input id="contactPhone" type="number" name="contactPhone"/>
  <div class="contactPhone error"></div><br>
  <label for="address">Address</label>
  <input id="address" type="text" name="address"/>
  <div class="address error"></div><br>
  <label for="origin">Origin</label>
  <select id="origin" name="origin">
    <option value="candidatureSpontanee">Candidature Spontanée</option>
    <option value="jobOffer">Job Offer</option>
  </select>
  <div class="origin error"></div><br>
  <label for="status">Status</label>
  <select id="status" name="status">
    <option value="interested">Interested</option>
    <option value="cvSent">CV sent</option>
    <option value="negative">Negative</option>
    <option value="Interview">Interview</option>
  </select>
  <div class="status error"></div><br>
  <label for="comments">Comments</label>
  <textarea id="comments" name="comments" rows="10" cols="50"></textarea>
  <div class="comments error"></div><br>
  <button type="submit">Save</button>
</form>

<%- include('../partials/footer.ejs'); -%>