<%- include('partials/header'); -%>

<main class="px-6 lg:px-8">
  <section class="h-screen flex items-center justify-center flex-col text-center">
    <h1 class="text-lg leading-8 mb-6">Page not found.</h1>
    <a href="/dashboard" class="text-sm font-semibold px-2 py-1.5 bg-slate-600 rounded-md text-white hover:bg-slate-500">Go Home</a>
  </section>

</main>


<%- include('partials/footer'); -%>