<%- include('partials/head'); -%>
<%- include('partials/header'); -%>

<% if (typeof errorMessage !== "undefined") { %>
  <p>Error:</p>
  <p><%= errorMessage %></p>
<% } %>

<%- include('partials/footer'); -%>