<%- include('partials/head'); -%>
<%- include('partials/header'); -%>

<h1>Home Page</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis magnam saepe ea. Vero hic, eos architecto, dolor atque unde voluptas ullam laborum nesciunt nobis maxime quaerat enim perferendis cupiditate beatae aliquam numquam non? Nihil mollitia libero dolore nesciunt dicta aperiam expedita consectetur, eum, eveniet nisi autem ab provident earum, dolor optio ipsam facere! Voluptate eius, porro in tempora accusantium, consequatur libero nihil deleniti voluptas ad suscipit a aliquid eveniet voluptatum dolorem? Consequatur dicta consequuntur sapiente quas ea. Animi iure asperiores sequi cupiditate distinctio? Facere, suscipit voluptatibus ad eum velit asperiores nulla magni autem numquam pariatur, corrupti consequatur laboriosam odit nisi?</p>

<%- include('partials/footer'); -%>