<%- include('partials/header'); -%>

<main class="px-6 lg:px-8">
  <div class="my-14 grid xl:grid-cols-2 grid-cols-1 h-fit gap-8">
    <p class="flex items-center xl:justify-center justify-start flex-col">Already registered? <a href="/login" class="btn text-sm font-semibold leading-6 text-gray-900"  >Log in <span aria-hidden="true">→</span></a></p>
    <div class="flex xl:items-center xl:justify-start items-end justify-center">
      <form action="/signup" class="max-w-screen-md w-2/3">
        <h2 class="text-center mb-2 text-lg font-bold text-gray-900 sm:text-xl">Sign up</h2>
        <label class="mt-6 mb-2 block text-sm font-semibold leading-6 text-gray-900" for="firstName">First name</label>
        <input class="appearance-none text-slate-900 bg-white rounded-md block w-full px-3 h-10 shadow-sm sm:text-sm focus:outline-none placeholder:text-slate-400 focus:ring-2 focus:ring-sky-500 ring-1 ring-slate-200" id="firstName" type="text" name="firstName" required /><!-- <br /> -->
        <div class="firstName error"></div>
        <!-- <br /> -->
        <label class="mt-6 mb-2 block text-sm font-semibold leading-6 text-gray-900" for="lastName">Last name</label>
        <input class="appearance-none text-slate-900 bg-white rounded-md block w-full px-3 h-10 shadow-sm sm:text-sm focus:outline-none placeholder:text-slate-400 focus:ring-2 focus:ring-sky-500 ring-1 ring-slate-200" id="lastName" type="text" name="lastName" required />
        <div class="lastName error"></div>
        <!-- <br /> -->
        <label class="mt-6 mb-2 block text-sm font-semibold leading-6 text-gray-900" for="email">Email</label>
        <input class="appearance-none text-slate-900 bg-white rounded-md block w-full px-3 h-10 shadow-sm sm:text-sm focus:outline-none placeholder:text-slate-400 focus:ring-2 focus:ring-sky-500 ring-1 ring-slate-200" id="email" type="text" name="email" required />
        <div class="email error"></div>
        <!-- <br /> -->
        <label class="mt-6 mb-2 block text-sm font-semibold leading-6 text-gray-900" for="repeatEmail">Repeat email</label>
        <input class="appearance-none text-slate-900 bg-white rounded-md block w-full px-3 h-10 shadow-sm sm:text-sm focus:outline-none placeholder:text-slate-400 focus:ring-2 focus:ring-sky-500 ring-1 ring-slate-200" id="repeatEmail" type="text" name="repeatEmail" required />
        <div class="repeatEmail error"></div>
        <!-- <br /> -->
        <label class="mt-6 mb-2 block text-sm font-semibold leading-6 text-gray-900" for="gitHub">gitHub username</label>
        <input class="appearance-none text-slate-900 bg-white rounded-md block w-full px-3 h-10 shadow-sm sm:text-sm focus:outline-none placeholder:text-slate-400 focus:ring-2 focus:ring-sky-500 ring-1 ring-slate-200" id="gitHub" type="text" name="gitHub" required />
        <div class="gitHub error"></div>
        <!-- <br /> -->
        <label class="mt-6 mb-2 block text-sm font-semibold leading-6 text-gray-900" for="password">Password</label>
        <input class="appearance-none text-slate-900 bg-white rounded-md block w-full px-3 h-10 shadow-sm sm:text-sm focus:outline-none placeholder:text-slate-400 focus:ring-2 focus:ring-sky-500 ring-1 ring-slate-200" id="password" type="password" name="password" required />
        <div class="password error"></div>
        <!-- <br /> -->
        <label class="mt-6 mb-2 block text-sm font-semibold leading-6 text-gray-900" for="repeatPassword">Repeat password</label>
        <input class="appearance-none text-slate-900 bg-white rounded-md block w-full px-3 h-10 shadow-sm sm:text-sm focus:outline-none placeholder:text-slate-400 focus:ring-2 focus:ring-sky-500 ring-1 ring-slate-200" id="repeatPassword" type="password" name="repeatPassword" required />
        <div class="repeatPassword error"></div>
        <!-- <br /> -->
        <button class="mt-6 inline-flex justify-center rounded-lg text-sm font-semibold py-2.5 px-4 bg-slate-900 text-white hover:bg-slate-700 w-full">Sign up</button>
      </form>
    </div>
  </div>
</main>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector("form");
  const firstNameError = document.querySelector(".firstName.error");
  const lastNameError = document.querySelector(".lastName.error");
  const emailError = document.querySelector(".email.error");
  const repeatEmailError = document.querySelector(".repeatEmail.error");
  const gitHubError = document.querySelector(".gitHub.error");
  const passwordError = document.querySelector(".password.error");
  const repeatPasswordError = document.querySelector(".repeatPassword.error");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    firstNameError.textContent = "";
    lastNameError.textContent = "";
    emailError.textContent = "";
    repeatEmailError.textContent = "";
    gitHubError.textContent = "";
    passwordError.textContent = "";
    repeatPasswordError.textContent = "";

    const firstName = form.firstName.value;
    const lastName = form.lastName.value;
    const email = form.email.value;
    const repeatEmail = form.repeatEmail.value;
    const gitHub = form.gitHub.value;
    const password = form.password.value;
    const repeatPassword = form.repeatPassword.value;

    if (password !== repeatPassword) {
      repeatPasswordError.textContent = "Passwords don't match";
    } else if (email !== repeatEmail) {
      repeatEmailError.textContent = "Emails don't match";
    } else {
      try {
        const res = await fetch("/signup", {
          method: "POST",
          body: JSON.stringify({
            firstName,
            lastName,
            email,
            gitHub,
            password,
          }),
          headers: { "Content-Type": "application/json" },
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }
        if (data.user) {
          location.assign("dashboard");
        }
      } catch (err) {
        console.log(err);
      }
    }
  });
</script>
